# 스크립트프로그래밍 과제3
## 과제3

### 1번>
L=[1, 2, 3, 4, 5]일 때 다음 각 문장을 수행한 후의 결과를 보고 납득할 만한 이유를 설명하시오.

1)
L[1:3] = [100]
print L

2)
L[1:3] = [(100)]
print L

3)
L[1:3] = 100
print L

4)
L[1:3] = (100)
print L

5)
L[1:3] = (100, 101, 102)
print L

6)
L[1:3] = [100, 101, 102]
print L

7)
L[1:3] = [(100, 101, 102)]
print L

8)
L[1:3] = [[100, 101, 102]]
print L

In [12]:
L=[1, 2, 3, 4, 5]

L[1:3] = [100]
print L

[1, 100, 4, 5]

* L[1:3]은 [2, 3]을 가리키고, 리스트는 변경 가능하므로, [2, 3]이 [100]리스트로 서로 다른 크기에 대한 슬라이스 치환이 되기 때문에 [1, 100, 4, 5]가 출력됩니다.

In [46]:
L=[1, 2, 3, 4, 5]

L[1:3] = [(100)]
print L

[1, 100, 4, 5]

* 위와 마찬가지로 L[1:3]은 [2, 3]이고, 리스트는 변경 가능하므로, [2, 3]이 [(100)]리스트로 서로 다른 크기에 대한 슬라이스 치환이 되기 때문에 [1, 100, 4, 5]가 출력됩니다.
* 참고로 (100)은 튜플이 아닙니다. 원소가 1개인 튜플이려면 (100,)와 같은 방식이여야 합니다.

In [24]:
L=[1, 2, 3, 4, 5]

L[1:3] = 100
print L

TypeError: can only assign an iterable

* L[1:3]은 [2, 3]으로 리스트이므로 리스트로 저장하여야 하는데, 100은 정수 이므로 에러가 발생하게 됩니다.

In [26]:
L=[1, 2, 3, 4, 5]

L[1:3] = (100)
print L

TypeError: can only assign an iterable

* L[1:3]은 [2, 3]으로 리스트이므로 리스트로 저장하여야 하는데, (100) 리스트도, 튜플도 아니기 때문에 에러가 발생하게 됩니다.
* 원소를 1개 갖는 튜플일 경우, 한개의 요소와 뒤에 콤마(,)를 넣어줘야 합니다. 하지만 위 문제에서는 (100,)이 아니기 때문에 튜플이 아니며 에러가 발생하게 됩니다.

In [41]:
L=[1, 2, 3, 4, 5]

L[1:3] = (100, 101, 102)
print L

[1, 100, 101, 102, 4, 5]

* 위의 (100, 101, 102)는 튜플이므로 에러가 발생하지 않고, L[1:3]의 자리에 100, 101, 102가 치환됩니다.

In [18]:
L=[1, 2, 3, 4, 5]

L[1:3] = [100, 101, 102]
print L

[1, 100, 101, 102, 4, 5]

* 위의 [100, 101, 102]는 리스트 이므로 에러가 발생하지 않고, L[1:3]의 자리에 100, 101, 102가 치환됩니다.

In [33]:
L=[1, 2, 3, 4, 5]

L[1:3] = [(100, 101, 102)]
print L


#L[1][0] = [22]
#print L

[1, (100, 101, 102), 4, 5]

* 위의 [(100, 101, 102)]는 튜플을 원소로 가지는 리스트이며, 따라서 L[1]의 위치에 (100, 101, 102) 튜플이 들어가게 되는 것 입니다. 
* 튜플로 들어가게 되기 때문에, 변경 불가능한 튜플의 특성으로 인해 주석 처리된 부분을 실행하게 되면 에러가 발생하게 됩니다.

In [20]:
L=[1, 2, 3, 4, 5]

L[1:3] = [[100, 101, 102]]
print L

[1, [100, 101, 102], 4, 5]

* 위의 [[100, 101, 102]]는 리스트를 원소로 가지는 리스트이며, 따라서 L[1]의 위치에 [100, 101, 102] 리스트 원소가 들어가게 됩니다. 따라서 print L을 하였을 때 [1, [100, 101, 102], 4, 5]와 같이 출력되는 것 입니다.

### 2번>
문자열 S = 'Hello World and Python'에 대해 다음 요구사항에 대한 Python 코드를 제시하시오.

1) 단어의 순서가 역순으로 되어진 문자열 ('Python and World Hello')을 만들고

2) 1)의 결과 문자열에 대해 메소드 split과 join을 이용하여 공백을 모두 없엔 문자열 'PythonandWorldHello'을 만드시오.

In [80]:
s = 'Hello World and Python'
rs = s[16::] + s[11:15] + s[5:11] + ' ' + s[:5]
print rs

L = rs.split()
print L

str1 = ''.join(L)
print str1

Python and World Hello
['Python', 'and', 'World', 'Hello']
PythonandWorldHello

* s = 'Hello World and Python'를 각 단어로 슬라이스 하여 역순으로 되어진 문자열로 rs를 생성합니다.
* 생성된 rs를 rs.split()하면, 공백을 기준으로 나뉘어진 리스트가 생성됩니다.
* 생성된 리스트를 join()을 이용하여 합친 문자열을 만드는데, ''.join(L)은 연결을 하는데, 리스트 L 내부의 각 원소들을 ''으로 연결한 문자열을 반환하게 되는데, ''는 아무것도 없으므로 리스트 원소들을 그냥 연결한 문자열이 반환되므로, 문제에서 원하는 결과값을 출력할 수 있습니다.

### 3번>
다음 코드를 보고 물음에 답하시오.

a = [1, 2, 3]

b = a * 3

c = [a] * 3

print b

print c

1) 위 코드를 수행한 이후 다음 코드를 수행한 후 b와 c의 내용을 확인하시오.

a[0]=0

2) b와 c 객체의 차이는 무엇인가?

In [90]:
a = [1, 2, 3]

b = a * 3

c = [a] * 3

print b
print c

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [83]:
a[0]=0

print b
print c

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[0, 2, 3], [0, 2, 3], [0, 2, 3]]

In [18]:
t1 = [1, 2, 3]
t2 = t1
t3 = [t1]
t4 = t1 * 2
t5 = [t1] * 2

print t1 == t2
print t1 == t3[0]
print t1 == t4
print t1 == t5[0]
print 
print id(t1) == id(t2)
print id(t1) == id(t4)
print
print id(t1) == id(t3[0])
print id(t1) == id(t5[0])
print id(t1) == id(t5[1])
print
print t5[0], t5[1]

True
True
False
True

True
False

True
True
True

[1, 2, 3] [1, 2, 3]

* 1) a[0]=0 를 수행한 이후 b와 c의 내용은 [1, 2, 3, 1, 2, 3, 1, 2, 3], [[0, 2, 3], [0, 2, 3], [0, 2, 3]]입니다.
* 2)  b와 c 객체의 차이는 위에서 테스트한 t1~t5를 보면 알 수 있습니다.
    * 우선, t2 = t1을 하게되면, 같은 객체를 가리키고 있게 됩니다. 하지만, t4 = t1 * 2를 하게 되면, 해당 객체를 가리키는 것이 아니라, 복사를 하게됩니다. 따라서 같은 객체가 아님을 id(t1) == id(t4)를 통해 알 수 있습니다. 내용 또한 t1이 2번 들어가게 되므로 t4 = [1, 2, 3, 1, 2, 3]이 됩니다.
    * 하지만, t3 = [t1]을 하거나, t5 = [t1] * 2를 하면 같은 객체를 가리키고 있게 됩니다. 즉, t1이 변하게 되면 t3, t5도 변하게 되는 것 입니다. 이것은 id(t1) == id(t3[0]), id(t1) == id(t5[0])가 True가 출력됨을 통해 알 수 있습니다. 참고로 t1이 리스트의 원소로 들어가기 때문에 t3[0]과 같이 되는 것 입니다. 또한 t5[0] = [[1,2,3],[1,2,3]]인데, [1, 2, 3]이 모두 같은 객체임을 id(t1) == id(t5[1])을 통해 알 수 있습니다.
    * 위와 같은 맥락으로, a[0] = 0을 수행하였을 때, b는 변하지 않았지만, a는 변함을 알 수 있습니다. b는 내용은 같지만 다른 객체이기 때문에 a의 변화가 b에 영향을 주지 않는 것이고, c는 같은 객체를 가리키고 이기 떄문에 a의 변화가 c에 영향을 주게되는 것 입니다.

### 4번>
다음 문자열을 ':'을 기준으로 분리하여 리스트로 만들고 각 문자열의 좌우 공백을 제거하시오 (즉, 문자열 S에서 l을 만들어라)

s = '  first star   :   second star   :    third star  '

l = ['first star', 'second star', 'third star']

1) for ~ in 문을 이용한 코드를 작성하시오.

2) 리스트 내포(list comprehension)를 이용한 코드를 작성하시오.

In [135]:
s = ' first star : second star : third star '
l = []
temp =''

for i in range(len(s)):
    if (s[i] != ':'):
        temp += s[i]
    if(s[i] == ':' or i == len(s)-1):
        temp = temp.strip()
        l += [temp]
        temp = ''
        
print l

['first star', 'second star', 'third star']

In [136]:
s = ' first star : second star : third star '
ss = s.split(':')
l=[]

for i in range(len(ss)):
    temp = ss[i].strip()
    l += [temp]
print l

['first star', 'second star', 'third star']

* 첫 번째 방법 : for~ in문을 이용하여 반복하는데, 범위는 문자열 길이로 합니다.
* i를 기준으로 현재 위치를 정하는데, 현재 위치의 문자가 만약에 ':'가 아니라면 temp 문자열에 더합니다.
* 만약 : 를 만나거나, 혹은 마지막에 도착한다면 temp에 저장된 문자열의 좌우 공백을 제거하고, 리스트 l에 추가합니다. 


* 두 번째 방법 : for ~ in 문을 이용하여 반복하는데, 반복문 전에 문자열 s를 ':'로 나눈 리스트 ss를 생성합니다.
* 반복문은 i를 기준으로, 범위는 리스트 ss의 길이만큼 반복하며, i위치의 원소를 strip()를 이용하여 좌우 공백 제거 후, l리스트에 추가합니다.

In [137]:
s = ' first star : second star : third star '
ss = s.split(':')

l = [temp.strip() for temp in ss]
print l

['first star', 'second star', 'third star']

* 리스트 내포를 이용한 방법으로, 우선 문자열을 ':'를 기준으로 나눈 리스트 ss를 생성합니다.
* 그 다음 temp.strip()를 원소로 저장하는데 temp는 ss를 범위로 갖습니다.
* 즉, ss원소인 단어가 temp에 할당 되고, temp.strip() 식을 진행하여 리스트의 원소로 할당하는 것입니다.

###5번>
다음과 같이 0보다 큰 정수 리스트 변수 list를 인자로 받는 함수 addall(list)와 addallodd(list)를 for ~ in 리터널과 리스트 내포 방식으로 각각 제시하시오.

1) addall(list) 함수 (리스트 내의 모든 정수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.)

---> addall([1])

1

---> addall([1, 2, 3, 4, 5, 6, 7, 8, 9])

45


2) addallodd(list) 함수 (리스트내의 모든 홀수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.)

---> addallodd([1])

1

---> addallodd([1, 2, 3, 4, 5, 6, 7, 8, 9])

25

[참고]: 리스트 내포 방식으로 addall() 및 addallodd()함수를 만들 때엔 리스트 내포에 의해 생성된 리스트 결과에 대해 내장 함수를 사용하는 방식을 고려해보시오 (주의: 리스트 내포 방식의 addall() 및 addallodd() 함수의 몸체는 단 1줄로 작성되어야 한다.)

In [157]:
# addall(list)함수 for~in 방식

def addall(list):
    res = 0
    for i in range(len(list)):
        res += list[i]
    return res

print addall([1])
print addall([1,2,3,4,5,6,7,8,9])

1
45

* def를 통해 함수를 정의합니다. for ~ in 반복문을 이용하여 반복하는데, i를 통해 현재 위치를 지정합니다. i는 0부터 len(list)의 범위를 가지며, res 초기값은 0이고, 반복문을 도는동안 list[i]값을 누적하여 더합니다. 그 결과는 리스트 내의 모든 정수를 더한 값 입니다. 
* 교수님께서 입력값은 정수로 가정하라 하셨기에 문자열이 들어오거나 하는 것에 대한 오류처리는 하지 않았습니다.

In [158]:
# addall(list)함수 리스트 내포 방식

def addall2(list):
    return sum([list[i] for i in range(len(list))])

print addall2([1])
print addall2([1,2,3,4,5,6,7,8,9])

1
45

* addall2()는 리스트 내포 방식을 활용한 함수입니다. sum()내장함수를 이용하여 리스트의 합을 반환하는데, ()안에 들어간 리스트는 list값을 하나씩 가져온 리스트 입니다.
* 즉, 매개변수로 들어온 list를 복사하여 새로운 리스트를 만들고, 그 리스트의 원소들의 합을 반환하는 방식입니다.

In [161]:
# addallodd(list)함수 for~in 방식

def addallodd(list):
    res = 0
    for i in range(len(list)):
        if(list[i]%2 == 1):
            res += list[i]
    return res

print addallodd([1])
print addallodd([1,2,3,4,5,6,7,8,9])
print addallodd([1,3,5,7,9])
print 


# addall(list)함수 리스트 내포 방식

def addallodd2(list):
    return sum([list[i] for i in range(len(list)) if list[i]%2 == 1])

print addallodd2([1])
print addallodd2([1,2,3,4,5,6,7,8,9])
print addallodd([1,3,5,7,9])

1
25
25

1
25
25

* addallodd() 함수는 홀수만 더해야 하므로, 위의 addall()에서 list[i]값이 2로 나누었을때 나머지가 1일 경우만 res += list[i]를 더하는 방식으로 한다.
* 마찬가지로, addallodd2() 함수도 addall2() 리스트 내포방식 함수에서 뒷부분에 if조건(list[i]를 2로 나누었을 때 나머지가 1인 경우)을 주면 홀수만 더한다.

### 6번>
다음 코드를 보고 물음에 답하시오.

L1 = [1, 2, 3]

L2 = [4, 5, 6]

d = {'low':L1, 'high':L2}

e = d

f = d.copy()

print d

print e

print f

print

d['low'] = [10, 20, 30]

d['high'][1] = 500

print d

print e

print f


1) 위 코드의 수행 결과 d와 e는 항상 같은 결과를 출력한다. 그 이유는 무엇인가?

2) 위 코드의 수행 결과 마지막 f의 내용은 다음과 같다. 이 때 'high' 키의 값 내용 중 500이 출력된 이유와 'low' 키의 값 내용 중 [1, 2, 3]이 출력된 이유를 설명하시오 ([hint]: shallow copy 관점에서 설명하시오.)

{'high': [4, 500, 6], 'low': [1, 2, 3]}

In [167]:
L1 = [1, 2, 3]
L2 = [4, 5, 6]
d = {'low':L1, 'high':L2}
e = d
f = d.copy()
print d
print e
print f
print
d['low'] = [10, 20, 30]
d['high'][1] = 500
print d
print e
print f

print id(d) == id(e)
print id(d) == id(f)
print id(d['high'][1]) == id(f['high'][1])

{'high': [4, 5, 6], 'low': [1, 2, 3]}
{'high': [4, 5, 6], 'low': [1, 2, 3]}
{'high': [4, 5, 6], 'low': [1, 2, 3]}

{'high': [4, 500, 6], 'low': [10, 20, 30]}
{'high': [4, 500, 6], 'low': [10, 20, 30]}
{'high': [4, 500, 6], 'low': [1, 2, 3]}
True
False
True

* (1) d와 e가 항상 같은 결과를 출력하는 이유는, e = d이기 때문이다. e = d와같이 하는 경우, 객체를 복사하는 것이 아니라 같은 객체를 가리키는 방식이 된다. 그렇기때문에 마지막에 id(d) == id(e)가 True가 출력되는 것이고, 결국 d가 바뀐다는 것은 d가 가리키는 객체가 바뀐다는 소리인데, e 또한 그 객체를 가리키고 있기 때문에 똑같이 변화한 값이 출력되는 것이다.

* (2) f는 d.copy()를 하였는데, 이 copy()함수는 shallow copy를 한다. shallow copy는 한 단계만 복사를 하는 것인데, f의 경우, d를 copy()하였기 때문에 {'low':L1, 'high':L2}는 1단계로, 복사를 하여서 다른 객체이지만, 그 안의 원소인 L1, L2 리스트는 2단계로, 같은 리스트를 가리키고 있게 되는 것이다.
    * d가 ['low']를 바꾼것은 1단계에서 바꾼것이기 때문에 f에 반영이 되지 않는 것이다. 하지만 d가 ['high'][1]을 바꾼것은 2단계에서 바꾼것이기 때문에 f에도 영향을 미치는 것이다.

### 7번>

* 사전 d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}가 주어졌을 때 다음 요구사항에 맞는 코드를 제시하시오.

[참고]: d.keys(), d.values()를 통해 리스트를 얻어낸 후 리스트가 지니고 있는 sort(cmp=None, key=None, reverse=False)함수를 활용하시오.
    
    1) 키의 알파벳 오름차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.

    2) 키의 알파벳 내림차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.

    3) 값의 오름차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.

    4) 값의 내림차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.

In [188]:
def cmp_1(a1, a2):
    return cmp(a1[1], a2[1])

def cmp_2(a1, a2):
    return cmp(a2[1], a1[1])

d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}

l = d.keys()
print l
print

items = d.items()
print items

#1) 키의 알파벳 오름차순
items.sort()
print items

#2) 키의 알파벳 내림차순
items.sort(reverse=True)
print items

#3) 값의 오름차순
items.sort(cmp_1)
print items

#4) 값의 내림차순
items.sort(cmp_2)
print items

['four', 'three', 'five', 'two', 'one']

[('four', 4), ('three', 3), ('five', 5), ('two', 2), ('one', 1)]
[('five', 5), ('four', 4), ('one', 1), ('three', 3), ('two', 2)]
[('two', 2), ('three', 3), ('one', 1), ('four', 4), ('five', 5)]
[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]
[('five', 5), ('four', 4), ('three', 3), ('two', 2), ('one', 1)]

* ddddddddd

#프로젝트 오일러
### 7번>
소수를 크기 순으로 나열하면 2, 3, 5, 7, 11, 13, ... 과 같이 됩니다.

이 때 10,001번째의 소수를 구하세요.

In [14]:
cnt = 0
i = 1
res = 0

while(cnt < 10001):
    i += 1
    check = 0
    
    for k in range(2, i):
        if(i % k == 0):
            check = 1
            break
    if (check == 0):
        cnt += 1
        res = i

if(cnt == 10001):
    print res
    
else:
    print 'Error'

104743

* 우선 cnt는 소수의 수입니다. cnt가 10001을 넘는 경우, 문제에서 원하는 답이 도출된 경우이므로 반복문은 그 전까지만 반복합니다.
* check는 현재 수가 소수인지 아닌지를 확인하는 변수입니다. 작은 반복문은 해당 수가 소수인지 아닌지를 확인하는 반복문으로, 2부터 현재의 수-1까지 반복하게 됩니다. 만약 1과 자신의 값을 제외한 다른 수로 나누어떨어지는 경우가 있을 경우, 소수가 아니므로 check는 1로 설정하고, 반복문을 종료합니다. 만약 반복문을 빠져나올때까지 check가 0이라면 소수이므로 cnt를 1증가시켜주고, res에 현재 값을 저장합니다. (res는 현재까지 나온 소수중 가장 큰 소수로 전체 반복문이 종료된 다음의 i를 저장해도 되지만 위에서는 확인을 위해 반복문 안에 넣었습니다.)
* 반복문이 모두 종료되면, cnt가 10001일 경우, res는 10,001번째의 소수를 출력하게됩니다.

### 8번>

다음은 연속된 1000자리 숫자입니다 (읽기 좋게 50자리씩 잘라놓음).

73167176531330624919225119674426574742355349194934
96983520312774506326239578318016984801869478851843
85861560789112949495459501737958331952853208805511
12540698747158523863050715693290963295227443043557
66896648950445244523161731856403098711121722383113
62229893423380308135336276614282806444486645238749
30358907296290491560440772390713810515859307960866
70172427121883998797908792274921901699720888093776
65727333001053367881220235421809751254540594752243
52584907711670556013604839586446706324415722155397
53697817977846174064955149290862569321978468622482
83972241375657056057490261407972968652414535100474
82166370484403199890008895243450658541227588666881
16427171479924442928230863465674813919123162824586
17866458359124566529476545682848912883142607690042
24219022671055626321111109370544217506941658960408
07198403850962455444362981230987879927244284909188
84580156166097919133875499200524063689912560717606
05886116467109405077541002256983155200055935729725
71636269561882670428252483600823257530420752963450

여기서 붉게 표시된 71112의 경우 7, 1, 1, 1, 2 각 숫자를 모두 곱하면 14가 됩니다.

이런 식으로 맨 처음 (7 × 3 × 1 × 6 × 7 = 882) 부터 맨 끝 (6 × 3 × 4 × 5 × 0 = 0) 까지 5자리 숫자들의 곱을 구할 수 있습니다.
이렇게 구할 수 있는 5자리 숫자의 곱 중에서 가장 큰 값은 얼마입니까?

In [53]:
num = '73167176531330624919225119674426574742355349194934 96983520312774506326239578318016984801869478851843 85861560789112949495459501737958331952853208805511 12540698747158523863050715693290963295227443043557 66896648950445244523161731856403098711121722383113 62229893423380308135336276614282806444486645238749 30358907296290491560440772390713810515859307960866 70172427121883998797908792274921901699720888093776 65727333001053367881220235421809751254540594752243 52584907711670556013604839586446706324415722155397 53697817977846174064955149290862569321978468622482 83972241375657056057490261407972968652414535100474 82166370484403199890008895243450658541227588666881 16427171479924442928230863465674813919123162824586 17866458359124566529476545682848912883142607690042 24219022671055626321111109370544217506941658960408 07198403850962455444362981230987879927244284909188 84580156166097919133875499200524063689912560717606 05886116467109405077541002256983155200055935729725 71636269561882670428252483600823257530420752963450'
num = ''.join(num.split())
l = list(num)

res = 0
for k in range(len(l) - 4):
    temp = int(l[k]) * int(l[k+1]) * int(l[k+2]) * int(l[k+3]) * int(l[k+4])
    if(temp > res):
        res = temp
print res

40824

* 우선 주어진 수가 공백이 존재하므로, 주어진 1000자리 수를 문자열로 저장한 후, split()함수를 이용하여 공백을 기준으로 나눈 리스트로 만든 다음 join을 이용하여 하나의 문자열로 만듭니다.
* 해당 문자열을 list()함수를 활용하여 문자열 하나하나가 원소로 들어간 리스트(l)를 생성합니다.
* 리스트 처음부터 반복문을 시작하는데, k를 이용하여 현재 위치를 지정하고, 현재 위치 ~ +4까지의 총 5개의 원소를 곱한 수를 temp에 저장합니다. 한번 반복할 때, 현재 위치를 기준으로 +4까지 곱하기때문에 반복문은 len(l)-4까지로 범위를 지정합니다.
* temp에 저장된 값이 res보다 클경우 res = temp를 합니다. 따라서 res엔느 현재까지의 곱중 가장 큰 값이 저장되게 됩니다.
* 반복문이 모두 종료되었을 때, res 값이 5자리 숫자의 곱 중에서 가장 큰 값입니다.

### 9번>
세 자연수 a, b, c 가 피타고라스 정리 a2 + b2 = c2 를 만족하면 피타고라스 수라고 부릅니다 (여기서 a < b < c ).
예를 들면 32 + 42 = 9 + 16 = 25 = 52이므로 3, 4, 5는 피타고라스 수입니다.

a + b + c = 1000 인 피타고라스 수 a, b, c는 한 가지 뿐입니다. 이 때, a × b × c 는 얼마입니까?

In [55]:
def pita(num):
    for a in range(num):
        for b in range(num):
            for c in range(num):
                if(a<b<c and (a+b+c)==num and (a*a + b*b == c*c)):
                    return a*b*c
    return -1

print pita(1000)

31875000

* a+b+c = 1000일경우, 하나의 숫자가 가장 커지는 경우는 1000+0+0이므로 a,b,c는 1000을 넘어가지 않을 것이기 때문에, 반복문을 1000을 범위로 지정하였습니다. 
* a,b,c가 각각 0~1000까지 반복하면서 주어진 조건에 만족하는 경우를 찾습니다.
* 조건은 우선, a<b<c이고, a+b+c = 1000이며, 피타고라스 수이므로 a^2 + b^2 = c^2입니다. 이 세가지 조건을 모두 만족해야 하므로 and연산자를 사용합니다.
* 위 세가지 조건을 모두 만족하는 a,b,c의 곱을 문제에서 원하므로 세가지 조건을 모두 만족할 때, a*b*c를 반환하여줍니다
* 결과적으로 함수에 1000을 넘겨주었을 때, 반환되는 값은 문제에서 원하는 답입니다.

#[Incremental Project] 

이전 Assignment 2의 마지막 문제는 웹 URL로 지정된 웹페이지를 문자열로 가져와 모든 HTML 태그 및 CSS와 Javascript를 제외한 순수 텍스트를 얻어내고 그 안에 존재하는 단어를 추출하고 단어들의 총 개수를 출력하는 프로그램을 작성하는 것이었다. 이번에는 그 마지막 숙제를 그대로 확장하여 웹 URL로 지정된 웹페이지 내 순수 텍스트 안에 존재하는 각 단어들에 대해 다음 요구사항 대로 출력하는 프로그램을 작성하시오.

* 요구사항 1. 순수 텍스트 안에 존재하는 단어들에 대해 string 모듈을 활용하여 모든 punctuation (구두문자)를 완벽히 제거하시오.
예: ['world!', ':', '+hello+', '~python$$$', '=', 'world'] ---> ['world', 'hello', 'python', 'world']
모든 punctuation을 확인하는 방법은 아래와 같다.

import string
print string.punctuation

* 요구사항 2. 만약 punctuation (구두문자)를 제거한 이후 공백으로 판명되는 단어들은 해당 단어 리스트에서 제거하시오.

    예: ['컴퓨터공학부!', '---?', '%지향~', '...'] ---> ['컴퓨터공학부', '지향']
    

* 요구사항 3. 각 단어들의 출현빈도를 사전형태로 저장하여 출력하시오.

    예: ['world', 'hello', 'python', 'world', '컴퓨터공학부', '지향'] ---> {'world': 2, 'hello': 1, 'python': 1, '컴퓨터공학부': 1, '지향': 1}
    

* 요구사항 4. 다음 3개의 사이트에 대한 결과를 출력하시오.

    http://www.naver.com
    
    http://www.daum.net
    
    http://www.nytimes.com

In [171]:
import urllib2

source = urllib2.urlopen("http://cse.kut.ac.kr/").read()
for i in range(0, source.count('<!--')):
    if source.find("<!--") != -1:
        source = source.replace(source[source.find("<!--"):source.find("-->")+3:],"")
        
for i in range(0,source.count("<")):
    if source.find("<") != -1:
        source = source.replace(source[source.find("<"):source.find(">")+1:],"")
    
words = source.split()
for word in words:
    print word,
    
len(words)

컴퓨터공학부 // Schoolfun - Study and Fun 로그인 로그인 아이디 비밀번호 로그인 유지 브라우저를 닫더라도 로그인이 계속 유지될 수 있습니다. 로그인 유지 기능을 사용할 경우 다음 접속부터는 로그인할 필요가 없습니다. 단, 게임방, 학교 등 공공장소에서 이용 시 개인정보가 유출될 수 있으니 꼭 로그아웃을 해주세요. 회원가입 ID/PW 찾기 IT 교육의 글로벌 메카!한국기술교육대학교 컴퓨터공학부 Close 소개 구성원소개 학사안내 입학 학부 대학원 학부광장 자료실 대학원 공학교육인증 Registration 컴퓨터공학부 School of Computer Science and Engineering IT 융합소프트웨어 인력양성사업 CK (Creative Korea)-I 교육역량강화사업 온라인 컨텐츠 Online Contents for Education Capability Empowerment IT 교육의 글로벌 메카 한국기술교육대학교 컴퓨터공학부 홈페이지에 오신 것을환영합니다! IT 융합소프트웨어 인력양성사업 글로벌 수준의 IT전문인력 양성 IT융합분야에 대한 국제적인 경쟁력 고취 바로가기 교육역량강화사업 컨텐츠 교육역량강화사업 온라인 컨텐츠를 소개합니다. 바로가기 공지사항 [특성화] 지식재산권 출원 신청서 접수 공고 2015-10-15 15:53 15:53 [특성화] IT사업단 마일리지 장학금 안내 2015-10-14 13:31 13:31 [특성화] 사물인터넷 국제전시회(IoT Korea Exhibition... 2015-10-13 16:38 16:38 LG Wearable Big Bang Hackathon 참여하세요 2015-10-13 12:03 12:03 [특성화] 제4차 실무프로그래밍 강좌 신청 안내 2015-10-08 15:37 15:37 자유게시판 졸업작품 전시회 투표 결과 2015-10-13 19:32 19:32 【장학지원】보건/복지/심리/재활분야 자격증 무료수강... 2015-10-12 11:42 11:42 (주) 엔에스이 에서 개발자를 모집합니다. 2015-09-30 13:30 13:30 졸업작품 전시회 컴퓨터공학부 인기상 투표 이벤트 2015-09-25 01:21 01:21 삼성 대학생 프로그래밍 경진대회 2015-09-15 11:17 11:17 취업게시판 [특성화] (주)KMW 인턴사원 모집공고 2015-09-23 14:31 14:31 ㈜인젠트 기술연구소 전문연구요원 모집 2015-09-14 11:54 11:54 펜타인 2015년도 신입사원 채용공고 2015-09-03 16:16 16:16 LIG인베니아 (코스닥상장 LIG그룹사 디스플레이장비전... 2015-09-03 14:01 14:01 ㈜ 한울 소프트웨어 개발자 2015-06-18 10:28 10:28 VENTURESQUARE 글로벌 음악유통기술 스타트업 ‘비손콘텐츠’, 실리콘밸... 2015-10-15 17:09 17:09 [Age of Startup] “요즘엔 무슨 옷을 사야 되지?” 쇼핑... 2015-10-15 15:28 15:28 중소기업진흥공단, ‘2015년 빅데이터 교육’ 참가자 모집 2015-10-15 15:09 15:09 ‘타이탄플랫폼’, 다빈치연구소와 MOU 체결 2015-10-15 13:20 13:20 제다이, “MCN 사업에 본격적으로 나서겠다” 2015-10-15 13:06 13:06 전자신문 SK텔레콤?KT, 와이파이 인더스트리 어워즈 2015 수상 2015-10-15 18:25 18:25 IPTV 가입·이전비 인하···이용자 `위약금 부담` ↓ 2015-10-15 18:00 18:00 IPTV-케이블, UHD 손잡았다···SK브로드밴드, ‘유맥스’ ... 2015-10-15 18:00 18:00 아이폰6S 예약판매 시작···삼성전자, 화려한 갤노트5로... 2015-10-15 18:00 18:00 [알림]‘글로벌 시큐리티 서밋 2015’ 선진국 사이버 범... 2015-10-15 17:35 17:35 RE/CODE YouTube Starts Selling Subscriptions — For Its... 2015-10-16 01:00 01:00 NBC Thinks It Can Sell TV on the Web Without C... 2015-10-16 00:52 00:52 Unpacking Calvin Klein’s Wildly Successful #My... 2015-10-16 00:42 00:42 Bret Taylor’s Quip Lands $30 Million to Take O... 2015-10-16 00:00 00:00 Gusto (Née ZenPayroll) Snags Google Ads VP as ... 2015-10-15 22:00 22:00 Quick Navigation 한국기술교육대학교 홈페이지 한국기술교육대학교 WEBMAIL 한국기술교육대학교 온라인 평생교육원 교육역량강화사업 온라인 컨텐츠 IT 융합소프트웨어 인력양성사업 Campus Location Contact CSE 충청남도 천안시 동남구 병천면 충절로 1600한국기술교육대학교 컴퓨터공학부 학과사무실 TEL (041) 560 1460~1461 FAX (041) 560 1462 Facebook Twitter Google Plus Linkedin (31253) 충청남도 천안시 동남구 병천면 충절로 1600 (가전리, 한국기술교육대학교) 컴퓨터공학부 Copyright © 2015. All rights reserved

437

In [175]:
import urllib2
import string

#----------------------------리스트를 한글깨짐없이 출력하기 위한 부분 ----------------------------(시작)
import pprint
class MyPrettyPrinter(pprint.PrettyPrinter):
	def format(self, _object, context, maxlevels, level):
		if isinstance(_object, unicode):
			return "'%s'" % _object.encode('utf8'), True, False
		elif isinstance(_object, str):
			_object = unicode(_object,'utf8')
			return "'%s'" % _object.encode('utf8'), True, False
		return pprint.PrettyPrinter.format(self, _object, context, maxlevels, level)
#----------------------------리스트를 한글깨짐없이 출력하기 위한 부분 ----------------------------(끝)


source = urllib2.urlopen("http://cse.kut.ac.kr/").read()

for i in range(0, source.count('<!--')):
    if source.find("<!--") != -1:
        source = source.replace(source[source.find("<!--"):source.find("-->")+3:],"")

for i in range(0,source.count("<")):
    if source.find("<") != -1:
        source = source.replace(source[source.find("<"):source.find(">")+1:],"")

words = source.split()
print len(words)

s = ' '.join(words)
print s  # 태그가 제거된 공백으로 단어 구분되어있는 문자열
print

s = s.translate(None, string.punctuation)
print s  # 태그+구두문자가 제거된 공백으로 단어 구분되어있는 문자열
print

words = s.split()

counts = dict()
for word in words:
    if word not in counts:
        counts[word] = 1
    else:
        counts[word] += 1

print MyPrettyPrinter().pformat(counts)

437
컴퓨터공학부 // Schoolfun - Study and Fun 로그인 로그인 아이디 비밀번호 로그인 유지 브라우저를 닫더라도 로그인이 계속 유지될 수 있습니다. 로그인 유지 기능을 사용할 경우 다음 접속부터는 로그인할 필요가 없습니다. 단, 게임방, 학교 등 공공장소에서 이용 시 개인정보가 유출될 수 있으니 꼭 로그아웃을 해주세요. 회원가입 ID/PW 찾기 IT 교육의 글로벌 메카!한국기술교육대학교 컴퓨터공학부 Close 소개 구성원소개 학사안내 입학 학부 대학원 학부광장 자료실 대학원 공학교육인증 Registration 컴퓨터공학부 School of Computer Science and Engineering IT 융합소프트웨어 인력양성사업 CK (Creative Korea)-I 교육역량강화사업 온라인 컨텐츠 Online Contents for Education Capability Empowerment IT 교육의 글로벌 메카 한국기술교육대학교 컴퓨터공학부 홈페이지에 오신 것을환영합니다! IT 융합소프트웨어 인력양성사업 글로벌 수준의 IT전문인력 양성 IT융합분야에 대한 국제적인 경쟁력 고취 바로가기 교육역량강화사업 컨텐츠 교육역량강화사업 온라인 컨텐츠를 소개합니다. 바로가기 공지사항 [특성화] 지식재산권 출원 신청서 접수 공고 2015-10-15 15:53 15:53 [특성화] IT사업단 마일리지 장학금 안내 2015-10-14 13:31 13:31 [특성화] 사물인터넷 국제전시회(IoT Korea Exhibition... 2015-10-13 16:38 16:38 LG Wearable Big Bang Hackathon 참여하세요 2015-10-13 12:03 12:03 [특성화] 제4차 실무프로그래밍 강좌 신청 안내 2015-10-08 15:37 15:37 자유게시판 졸업작품 전시회 투표 결과 2015-10-13 19:32 19:32 【장학지원】보건/복지/심리/재활분야 자격증 무료수강... 2015-10-12 11:42 11:42 (주) 엔에스이 에서 개발자를 모집합니다. 2015-09-30 13:30 13:30 졸업작품 전시회 컴퓨터공학부 인기상 투표 이벤트 2015-09-25 01:21 01:21 삼성 대학생 프로그래밍 경진대회 2015-09-15 11:17 11:17 취업게시판 [특성화] (주)KMW 인턴사원 모집공고 2015-09-23 14:31 14:31 ㈜인젠트 기술연구소 전문연구요원 모집 2015-09-14 11:54 11:54 펜타인 2015년도 신입사원 채용공고 2015-09-03 16:16 16:16 LIG인베니아 (코스닥상장 LIG그룹사 디스플레이장비전... 2015-09-03 14:01 14:01 ㈜ 한울 소프트웨어 개발자 2015-06-18 10:28 10:28 VENTURESQUARE 글로벌 음악유통기술 스타트업 ‘비손콘텐츠’, 실리콘밸... 2015-10-15 17:09 17:09 [Age of Startup] “요즘엔 무슨 옷을 사야 되지?” 쇼핑... 2015-10-15 15:28 15:28 중소기업진흥공단, ‘2015년 빅데이터 교육’ 참가자 모집 2015-10-15 15:09 15:09 ‘타이탄플랫폼’, 다빈치연구소와 MOU 체결 2015-10-15 13:20 13:20 제다이, “MCN 사업에 본격적으로 나서겠다” 2015-10-15 13:06 13:06 전자신문 SK텔레콤?KT, 와이파이 인더스트리 어워즈 2015 수상 2015-10-15 18:25 18:25 IPTV 가입·이전비 인하···이용자 `위약금 부담` ↓ 2015-10-15 18:00 18:00 IPTV-케이블, UHD 손잡았다···SK브로드밴드, ‘유맥스’ ... 2015-10-15 18:00 18:00 아이폰6S 예약판매 시작···삼성전자, 화려한 갤노트5로... 2015-10-15 18:00 18:00 [알림]‘글로벌 시큐리티 서밋 2015’ 선진국 사이버 범... 2015-10-15 17:35 17:35 RE/CODE YouTube Starts Selling Subscriptions — For Its... 2015-10-16 01:00 01:00 NBC Thinks It Can Sell TV on the Web Without C... 2015-10-16 00:52 00:52 Unpacking Calvin Klein’s Wildly Successful #My... 2015-10-16 00:42 00:42 Bret Taylor’s Quip Lands $30 Million to Take O... 2015-10-16 00:00 00:00 Gusto (Née ZenPayroll) Snags Google Ads VP as ... 2015-10-15 22:00 22:00 Quick Navigation 한국기술교육대학교 홈페이지 한국기술교육대학교 WEBMAIL 한국기술교육대학교 온라인 평생교육원 교육역량강화사업 온라인 컨텐츠 IT 융합소프트웨어 인력양성사업 Campus Location Contact CSE 충청남도 천안시 동남구 병천면 충절로 1600한국기술교육대학교 컴퓨터공학부 학과사무실 TEL (041) 560 1460~1461 FAX (041) 560 1462 Facebook Twitter Google Plus Linkedin (31253) 충청남도 천안시 동남구 병천면 충절로 1600 (가전리, 한국기술교육대학교) 컴퓨터공학부 Copyright © 2015. All rights reserved

컴퓨터공학부  Schoolfun  Study and Fun 로그인 로그인 아이디 비밀번호 로그인 유지 브라우저를 닫더라도 로그인이 계속 유지될 수 있습니다 로그인 유지 기능을 사용할 경우 다음 접속부터는 로그인할 필요가 없습니다 단 게임방 학교 등 공공장소에서 이용 시 개인정보가 유출될 수 있으니 꼭 로그아웃을 해주세요 회원가입 IDPW 찾기 IT 교육의 글로벌 메카한국기술교육대학교 컴퓨터공학부 Close 소개 구성원소개 학사안내 입학 학부 대학원 학부광장 자료실 대학원 공학교육인증 Registration 컴퓨터공학부 School of Computer Science and Engineering IT 융합소프트웨어 인력양성사업 CK Creative KoreaI 교육역량강화사업 온라인 컨텐츠 Online Contents for Education Capability Empowerment IT 교육의 글로벌 메카 한국기술교육대학교 컴퓨터공학부 홈페이지에 오신 것을환영합니다 IT 융합소프트웨어 인력양성사업 글로벌 수준의 IT전문인력 양성 IT융합분야에 대한 국제적인 경쟁력 고취 바로가기 교육역량강화사업 컨텐츠 교육역량강화사업 온라인 컨텐츠를 소개합니다 바로가기 공지사항 특성화 지식재산권 출원 신청서 접수 공고 20151015 1553 1553 특성화 IT사업단 마일리지 장학금 안내 20151014 1331 1331 특성화 사물인터넷 국제전시회IoT Korea Exhibition 20151013 1638 1638 LG Wearable Big Bang Hackathon 참여하세요 20151013 1203 1203 특성화 제4차 실무프로그래밍 강좌 신청 안내 20151008 1537 1537 자유게시판 졸업작품 전시회 투표 결과 20151013 1932 1932 【장학지원】보건복지심리재활분야 자격증 무료수강 20151012 1142 1142 주 엔에스이 에서 개발자를 모집합니다 20150930 1330 1330 졸업작품 전시회 컴퓨터공학부 인기상 투표 이벤트 20150925 0121 0121 삼성 대학생 프로그래밍 경진대회 20150915 1117 1117 취업게시판 특성화 주KMW 인턴사원 모집공고 20150923 1431 1431 ㈜인젠트 기술연구소 전문연구요원 모집 20150914 1154 1154 펜타인 2015년도 신입사원 채용공고 20150903 1616 1616 LIG인베니아 코스닥상장 LIG그룹사 디스플레이장비전 20150903 1401 1401 ㈜ 한울 소프트웨어 개발자 20150618 1028 1028 VENTURESQUARE 글로벌 음악유통기술 스타트업 ‘비손콘텐츠’ 실리콘밸 20151015 1709 1709 Age of Startup “요즘엔 무슨 옷을 사야 되지” 쇼핑 20151015 1528 1528 중소기업진흥공단 ‘2015년 빅데이터 교육’ 참가자 모집 20151015 1509 1509 ‘타이탄플랫폼’ 다빈치연구소와 MOU 체결 20151015 1320 1320 제다이 “MCN 사업에 본격적으로 나서겠다” 20151015 1306 1306 전자신문 SK텔레콤KT 와이파이 인더스트리 어워즈 2015 수상 20151015 1825 1825 IPTV 가입·이전비 인하···이용자 위약금 부담 ↓ 20151015 1800 1800 IPTV케이블 UHD 손잡았다···SK브로드밴드 ‘유맥스’  20151015 1800 1800 아이폰6S 예약판매 시작···삼성전자 화려한 갤노트5로 20151015 1800 1800 알림‘글로벌 시큐리티 서밋 2015’ 선진국 사이버 범 20151015 1735 1735 RECODE YouTube Starts Selling Subscriptions — For Its 20151016 0100 0100 NBC Thinks It Can Sell TV on the Web Without C 20151016 0052 0052 Unpacking Calvin Klein’s Wildly Successful My 20151016 0042 0042 Bret Taylor’s Quip Lands 30 Million to Take O 20151016 0000 0000 Gusto Née ZenPayroll Snags Google Ads VP as  20151015 2200 2200 Quick Navigation 한국기술교육대학교 홈페이지 한국기술교육대학교 WEBMAIL 한국기술교육대학교 온라인 평생교육원 교육역량강화사업 온라인 컨텐츠 IT 융합소프트웨어 인력양성사업 Campus Location Contact CSE 충청남도 천안시 동남구 병천면 충절로 1600한국기술교육대학교 컴퓨터공학부 학과사무실 TEL 041 560 14601461 FAX 041 560 1462 Facebook Twitter Google Plus Linkedin 31253 충청남도 천안시 동남구 병천면 충절로 1600 가전리 한국기술교육대학교 컴퓨터공학부 Copyright © 2015 All rights reserved

{'0000': 2,
 '0042': 2,
 '0052': 2,
 '0100': 2,
 '0121': 2,
 '041': 2,
 '1028': 2,
 '1117': 2,
 '1142': 2,
 '1154': 2,
 '1203': 2,
 '1306': 2,
 '1320': 2,
 '1330': 2,
 '1331': 2,
 '1401': 2,
 '1431': 2,
 '14601461': 1,
 '1462': 1,
 '1509': 2,
 '1528': 2,
 '1537': 2,
 '1553': 2,
 '1600': 1,
 '1600한국기술교육대학교': 1,
 '1616': 2,
 '1638': 2,
 '1709': 2,
 '1735': 2,
 '1800': 6,
 '1825': 2,
 '1932': 2,
 '2015': 2,
 '20150618': 1,
 '20150903': 2,
 '20150914': 1,
 '20150915': 1,
 '20150923': 1,
 '20150925': 1,
 '20150930': 1,
 '20151008': 1,
 '20151012': 1,
 '20151013': 3,
 '20151014': 1,
 '20151015': 12,
 '20151016': 4,
 '2015’': 1,
 '2015년도': 1,
 '2200': 2,
 '30': 1,
 '31253': 1,
 '560': 2,
 'Ads': 1,
 'Age': 1,
 'All': 1,
 'Bang': 1,
 'Big': 1,
 'Bret': 1,
 'C': 1,
 'CK': 1,
 'CSE': 1,
 'Calvin': 1,
 'Campus': 1,
 'Can': 1,
 'Capability': 1,
 'Close': 1,
 'Computer': 1,
 'Contact': 1,
 'Contents': 1,
 'Copyright': 1,
 'Creative': 1,
 'Education': 1,
 'Empowerment': 1,
 'Engineering': 1,
 'Exhibition': 1,
 'FAX': 1,
 'Facebook': 1,
 'For': 1,
 'Fun': 1,
 'Google': 2,
 'Gusto': 1,
 'Hackathon': 1,
 'IDPW': 1,
 'IPTV': 1,
 'IPTV케이블': 1,
 'IT': 5,
 'IT사업단': 1,
 'IT융합분야에': 1,
 'IT전문인력': 1,
 'It': 1,
 'Its': 1,
 'Klein’s': 1,
 'Korea': 1,
 'KoreaI': 1,
 'LG': 1,
 'LIG그룹사': 1,
 'LIG인베니아': 1,
 'Lands': 1,
 'Linkedin': 1,
 'Location': 1,
 'MOU': 1,
 'Million': 1,
 'My': 1,
 'NBC': 1,
 'Navigation': 1,
 'Née': 1,
 'O': 1,
 'Online': 1,
 'Plus': 1,
 'Quick': 1,
 'Quip': 1,
 'RECODE': 1,
 'Registration': 1,
 'SK텔레콤KT': 1,
 'School': 1,
 'Schoolfun': 1,
 'Science': 1,
 'Sell': 1,
 'Selling': 1,
 'Snags': 1,
 'Starts': 1,
 'Startup': 1,
 'Study': 1,
 'Subscriptions': 1,
 'Successful': 1,
 'TEL': 1,
 'TV': 1,
 'Take': 1,
 'Taylor’s': 1,
 'Thinks': 1,
 'Twitter': 1,
 'UHD': 1,
 'Unpacking': 1,
 'VENTURESQUARE': 1,
 'VP': 1,
 'WEBMAIL': 1,
 'Wearable': 1,
 'Web': 1,
 'Wildly': 1,
 'Without': 1,
 'YouTube': 1,
 'ZenPayroll': 1,
 'and': 2,
 'as': 1,
 'for': 1,
 'of': 2,
 'on': 1,
 'reserved': 1,
 'rights': 1,
 'the': 1,
 'to': 1,
 '©': 1,
 '—': 1,
 '‘2015년': 1,
 '‘비손콘텐츠’': 1,
 '‘유맥스’': 1,
 '‘타이탄플랫폼’': 1,
 '“MCN': 1,
 '“요즘엔': 1,
 '↓': 1,
 '【장학지원】보건복지심리재활분야': 1,
 '㈜': 1,
 '㈜인젠트': 1,
 '가입·이전비': 1,
 '가전리': 1,
 '강좌': 1,
 '개발자': 1,
 '개발자를': 1,
 '개인정보가': 1,
 '갤노트5로': 1,
 '것을환영합니다': 1,
 '게임방': 1,
 '결과': 1,
 '경우': 1,
 '경쟁력': 1,
 '경진대회': 1,
 '계속': 1,
 '고취': 1,
 '공고': 1,
 '공공장소에서': 1,
 '공지사항': 1,
 '공학교육인증': 1,
 '교육’': 1,
 '교육역량강화사업': 4,
 '교육의': 2,
 '구성원소개': 1,
 '국제적인': 1,
 '국제전시회IoT': 1,
 '글로벌': 4,
 '기능을': 1,
 '기술연구소': 1,
 '꼭': 1,
 '나서겠다”': 1,
 '다빈치연구소와': 1,
 '다음': 1,
 '단': 1,
 '닫더라도': 1,
 '대학생': 1,
 '대학원': 2,
 '대한': 1,
 '동남구': 2,
 '되지”': 1,
 '등': 1,
 '디스플레이장비전': 1,
 '로그아웃을': 1,
 '로그인': 4,
 '로그인이': 1,
 '로그인할': 1,
 '마일리지': 1,
 '메카': 1,
 '메카한국기술교육대학교': 1,
 '모집': 2,
 '모집공고': 1,
 '모집합니다': 1,
 '무료수강': 1,
 '무슨': 1,
 '바로가기': 2,
 '범': 1,
 '병천면': 2,
 '본격적으로': 1,
 '부담': 1,
 '브라우저를': 1,
 '비밀번호': 1,
 '빅데이터': 1,
 '사물인터넷': 1,
 '사야': 1,
 '사업에': 1,
 '사용할': 1,
 '사이버': 1,
 '삼성': 1,
 '서밋': 1,
 '선진국': 1,
 '소개': 1,
 '소개합니다': 1,
 '소프트웨어': 1,
 '손잡았다···SK브로드밴드': 1,
 '쇼핑': 1,
 '수': 2,
 '수상': 1,
 '수준의': 1,
 '스타트업': 1,
 '시': 1,
 '시작···삼성전자': 1,
 '시큐리티': 1,
 '신입사원': 1,
 '신청': 1,
 '신청서': 1,
 '실리콘밸': 1,
 '실무프로그래밍': 1,
 '아이디': 1,
 '아이폰6S': 1,
 '안내': 2,
 '알림‘글로벌': 1,
 '양성': 1,
 '어워즈': 1,
 '없습니다': 1,
 '에서': 1,
 '엔에스이': 1,
 '예약판매': 1,
 '오신': 1,
 '온라인': 4,
 '옷을': 1,
 '와이파이': 1,
 '위약금': 1,
 '유지': 2,
 '유지될': 1,
 '유출될': 1,
 '융합소프트웨어': 3,
 '음악유통기술': 1,
 '이벤트': 1,
 '이용': 1,
 '인기상': 1,
 '인더스트리': 1,
 '인력양성사업': 3,
 '인턴사원': 1,
 '인하···이용자': 1,
 '입학': 1,
 '있습니다': 1,
 '있으니': 1,
 '자격증': 1,
 '자료실': 1,
 '자유게시판': 1,
 '장학금': 1,
 '전문연구요원': 1,
 '전시회': 2,
 '전자신문': 1,
 '접속부터는': 1,
 '접수': 1,
 '제4차': 1,
 '제다이': 1,
 '졸업작품': 2,
 '주': 1,
 '주KMW': 1,
 '중소기업진흥공단': 1,
 '지식재산권': 1,
 '참가자': 1,
 '참여하세요': 1,
 '찾기': 1,
 '채용공고': 1,
 '천안시': 2,
 '체결': 1,
 '출원': 1,
 '충절로': 2,
 '충청남도': 2,
 '취업게시판': 1,
 '컨텐츠': 3,
 '컨텐츠를': 1,
 '컴퓨터공학부': 7,
 '코스닥상장': 1,
 '투표': 2,
 '특성화': 5,
 '펜타인': 1,
 '평생교육원': 1,
 '프로그래밍': 1,
 '필요가': 1,
 '학과사무실': 1,
 '학교': 1,
 '학부': 1,
 '학부광장': 1,
 '학사안내': 1,
 '한국기술교육대학교': 5,
 '한울': 1,
 '해주세요': 1,
 '홈페이지': 1,
 '홈페이지에': 1,
 '화려한': 1,
 '회원가입': 1}

In [176]:
import string
s = 'string, "Wit"h. Punctuation?"' # Sample string
out = s.translate(None,string.punctuation)

print s
print out

string, "Wit"h. Punctuation?"
string With Punctuation

In [177]:
counts = dict()
out = 'string, "Wit"h. Punctuation?" ' * 2
words = out.split()
print words

for word in words:
    if word not in counts:
        counts[word] = 1
    else:
        counts[word] += 1

print counts

['string,', '"Wit"h.', 'Punctuation?"', 'string,', '"Wit"h.', 'Punctuation?"']
{'Punctuation?"': 2, 'string,': 2, '"Wit"h.': 2}